<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.tekmtn.homeviewapp"
    versionCode = "10207" 
    version     = "1.2.7">

    <name>HomeVIEW Real Estate Listings</name>
    <description>
        Browse HomeVIEW listings
    </description>
    <author email="mike@tekmtn.com" href="http://www.tekmtn.com/">
      TekMtn
    </author>
    <content src="index.html" />

    <icon src="icon.png" gap:platform="ios" width="60" height="60" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />

    <icon src="img/iphone_120_icon.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/iphone_57_icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/ipad_72_icon.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/ios_152_icon.png" gap:platform="ios" width="152" height="152" />
    <icon src="img/ios_76_icon.png" gap:platform="ios" width="76" height="76" />

    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none"/>

    <gap:plugin name="com.adobe.plugins.gaplugin" version="2.4.0" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <!--<gap:plugin name="uk.co.whiteoctober.cordova.appversion" version="0.1.4" />-->

    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.InAppBrowser" />
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>

    <gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="false"> 
        <array><string>Allow GPS</string></array>
    </gap:config-file> 
</widget>
