<ion-view title="Home">
	
  <ion-content>
  	
  	<div class='map-loading' ng-hide='!loading'>Loading map &amp; listings...</div>
	<div id="map" data-tap-disabled="true"></div>

   	<div id="preview">
		<div class='previewHeader row'>
			<div class='col'>
				<div class='pull-left'><strong><span id="listingAddress"></span></strong><br /><strong><span id="listingPrice"></span></strong></div>

				<button id="btnClosePreview" type="button" ng-click="closePreview()" class="button button-small icon ion-close pull-right">
				</button>

				<button id="btnFavoriteListing" type="button" ng-click="favoriteListing(listing.mls_number)" class="button button-small icon ion-heart pull-right">
				</button>
				<div class='clearfix'></div>
			</div>
		</div>
		<!--' + $scope.listings[x].mls_number + '-->
		<div id="previewBodyRow" class='row'>
			<div class='col'>
					<div id="previewBody">
					</div>
			</div>
		</div>
		<div id="previewButtonsRow" class='row'>
		<!--<div class='col'>
			<a href="#/tab/home/" id="btnViewDetails" class="button button-positive button-block">View Details</a>
		</div>
		<div class='col'>
			<a href="#" ng-click="closePreview()" id="btnClosePreview" class="button button-dark button-block">Close</a>
		</div>
		<div class='col'>
			<a href="#" ng-click="saveFavorite()" id="btnSaveFavorite" class="button button-calm button-block">Save Favorite</a>
		</div>-->
		</div>
   	</div>
  	

    
  </ion-content>
</ion-view>
