<ion-view title="Open Houses">
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Open Houses</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <!-- ng-click="listings.splice($index, 1)" -->
    <!-- <ion-delete-button class="ion-minus-circled"></ion-delete-button> -->

    <div class='app-container'>

      <div class="list">
        <span ng-repeat="listing in listings">
            <a ng-if="listing.isListing"
               ng-href="#/tab/home/{{listing.mls_number}}"
               class="item item-thumbnail-left">
              <img src="http://images-homeview.re605.com/images/property/{{listing.mls_number}}/1.jpg">

              <strong>{{getCurrency(listing.price)}}</strong>
              <span> &bull; {{listing.address}}</span>
              <span ng-hide="!listing.beds"> &bull; {{listing.beds}} Beds </span>
              <span ng-hide="!listing.baths">&bull; {{listing.baths}} Baths </span>
              <span ng-hide="!listing.square_feet">&bull; {{listing.square_feet}} Sq Ft</span>

              <p>Open House: {{listing.open_house_date | date:'mediumDate' }} {{listing.open_house_start}} - {{listing.open_house_end}}</p>

            </a>
            
            <span class="item item-search-results-ad" ng-if="!listing.isListing && listings[listings.length-1] != listing && listing.ad.link_url != '#'">
                <a ng-href="{{listing.ad.link_url}}">
                    <img src="{{adurl}}/{{listing.ad.name}}" />
                </a>
            </span>
            <span class="item item-search-results-ad" ng-if="!listing.isListing && listings[listings.length-1] != listing && listing.ad.link_url == '#'">
                <img src="{{adurl}}/{{listing.ad.name}}" />
            </span>
        </span>
      </div>

    </div>
  </ion-content>
</ion-view>
