<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->


<div ng-controller="FooterCtrl" class='footer-ad' id='footer_ad_container'>
  <div id='search-button-container' ng-if="location.$$url == '/tab/search'">
    <button ng-controller="SearchCtrl" ng-click='search();' class='button button-block button-positive icon-right ion-search'>
      Search
    </button>
  </div>
  <div ng-if="footer_has_link">
    <a style='cursor:pointer;' ng-click="view_ad_link(footer_link)" target="_blank">
        <img src="{{footer_ad}}" />
    </a>
  </div>
  <div ng-if="!footer_has_link">
    <img src="{{footer_ad}}" />
  </div>
</div>

<ion-tabs class="tabs-icon-bottom">


  <!-- Pets Tab -->
  <ion-tab title="Map" icon="icon ion-earth" href="#/map/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab title="Search" icon="icon ion-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Open House Tab -->
  <ion-tab title="Open Houses" icon="icon ion-home" href="#/tab/openhouses">
    <ion-nav-view name="tab-openhouses"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Favorites" icon="icon ion-heart" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Details" href="#/tab/listing-details" hidden="true">
    <ion-nav-view name="tab-listing-details"></ion-nav-view>
  </ion-tab>
  

</ion-tabs>
